@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: rgba(35, 42, 52, 1);
}

.card-background {
  border-radius: 1.875rem;
  background: var(--black-gradient, radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%));
}